@import "../../colors.sass"
@import "../../breakpoints.sass"

.machines
	margin-top: 40px
	justify-content: center
	color: white

	.machineWrapper
		padding: 15px 15px

	.machineCard
		height: auto
		position: relative
		box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.4), 3px 3px 8px 0 rgba(0, 0, 0, 0.19)
		border-radius: 5px
		border: $lightGrey
		background: white
		.card-inner
			display: block
			width: 100%
			height: auto
			.image
				position: relative
				height: 350px
				.portrait
					border-radius: 5px 5px 0 0
					padding: 0
					margin: 0
					object-fit: cover
					object-position: center
					width: 100%
					height: 350px
				// .hover-overlay
				// 	position: absolute
				// 	top: 0
				// 	bottom: 0
				// 	left: 0
				// 	right: 0
				// 	height: 100%
				// 	width: 100%
				// 	opacity: 0
				// 	transition: .5s ease
				// 	border-radius: 5px
				// 	background-color: white
				// 	padding: 15px
					&:hover
						opacity: 1
					span
						font-weight: 600
						text-align: center
						margin: 0 auto

					ul
						list-style: none
						padding: 0

			.info
				padding: 15px
				height: auto
				border-radius: 0 0 5px 5px
				background-color: $darkSlate
				label
					font-weight: 600
				.modelYear
					color: $lightGrey
					font-size: 14px
				.role
					margin-top: 10px
					font-size: 16px
					font-weight: bold
					color: $yellow
					text-align: center
					border-top: 1px solid $yellow
					padding-top: 5px
				.equipment
					ul
						columns: 2
						-webkit-columns: 2
						-moz-columns: 2
						list-style-type: disc

@media (max-width: $bp-medium)
	.machines
		.machineCard
			.card-inner
				.info
					.equipment
						ul
							columns: 1

.darkMode .machines
	color: $darkSlate
	.card-inner
		.info
			background-color: white

