@import "../../colors.sass"

.anchorBar
	display: flex
	z-index: 100
	flex-direction: row
	direction: rtl
	align-items: center
	width: 100%
	height: 5em
	transition: height 0.2s ease-in-out
	background-color: $yellow
	&.sticky
		height: 3em

	.anchorList
		min-width: 50%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		list-style-type: none

		.anchorItem
			font-weight: 700
			color: white
			a
				text-decoration: none
				color: #fff

		.slash
			color: $darkSlate
			font-size: 40px
			font-weight: 400
