@import '../../breakpoints.sass'

.topHero
	width: 100%
	display: flex
	align-items: flex-end
	justify-content: center
	min-height: 30em
	direction: ltr
	background-position: center


	.text-wrap
		margin-top: auto
		width: 100%

		h1
			text-shadow: 2px 2px 8px black
			text-transform: uppercase
			color: white
			word-wrap: break-word
			font-size: 40px

@media (min-width: $bp-extra-large )
	.topHero
		min-height: 45em
		.text-wrap
			h1
				font-size: 60px

@media (min-width: $bp-monster )
	.topHero
		min-height: 60em


@media (max-width: $bp-small)
	.topHero
		.text-wrap
			h1
				margin: 20px 30px
				font-size: x-large
