
.topHero
	width: 100%
	display: flex
	align-items: baseline
	justify-content: center
	min-height: 30em
	direction: ltr

	.text-wrap
		margin-top: auto
		width: 100%
		font-size: 20px

		h2
			margin-left: 40px
			text-transform: uppercase
			color: white
